---
Checks: >
  -*,
  bugprone-*,
  performance-*,
  readability-*,
  modernize-*,
  -modernize-use-trailing-return-type,
  -modernize-use-nodiscard,
  -readability-magic-numbers,
  -misc-include-cleaner,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-vararg,
  -cppcoreguidelines-special-member-functions,
  google-*
WarningsAsErrors: '*'
HeaderFilterRegex: '^(?!.*(build|moc_|ui_|qrc_|/opt/|/usr/)).*'
FormatStyle: 'file'
